.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.avatar {
  height: 22px;
  width: 22px;
}

.name {
  font-size: 14px;
  line-height: 22px;
  margin-left: 10px;
}
