.cell {
  padding: 16px 0;
  text-align: start;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}

.cellInner {
  padding: 0 17px;
}

.cell:not(:last-child) .cellInner {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
