.rememberMe {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.rememberMeCheckbox {
  width: unset;
  margin: 0;
  flex-direction: row;
}

.actions {
  width: 100%;
}
