.tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.tabsItem:not(:first-child) {
  margin-left: 32px;
}

.tabsItemLink {
  display: block;
  color: rgba(0, 0, 0, 0.85);
  border-bottom: 2px solid transparent;
  padding-bottom: 12px;
  text-align: center;
}

.tabsItemLinkActive {
  color: #fa8c16;
  border-bottom: 2px solid #fa8c16;
}
